* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGO */
.logo {
  width: 260px;       /* كبير وباين */
  margin: 40px 0;
}

/* IMAGE */
.hero {
  width: 100%;
  height: auto;
  display: block;
}
