/* Reset بسيط */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* الواجهة الرئيسية */
.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("1280x640.png");
  background-size: cover;
  background-position: center;
}

/* الشعار */
.logo img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  background: transparent;
}

